<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h5>Support</h5>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Safety information</a></li>

            </ul>
        </div>

        <div class="footer-section">
            <h5>Community</h5>
            <ul>
                <li><a href="#">Wanderlust.org: disaster relief</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>Hosting</h5>
            <ul>
                <li><a href="#">Try hosting</a></li>
                <li><a href="#">Visit our community forum</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>Wanderlust</h5>
            <ul>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <p>&copy;Wanderlust by Nitin , Inc.</p>
            <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
        <div class="footer-bottom-right">
            <div class="language">
                <i class="fas fa-globe"></i>
                <span>English (IN)</span>
            </div>
            <div class="currency">
                <span>₹ INR</span>
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>